[control_node]
localhost ansible_connection=local

# To use with a remote control node or jumpbox
# control ansible_host=workstation-"{{ GUID }}".blue.osp.opentlc.com
#
[control_node:vars]
ansible_python_interpreter=~/openstack-venv/bin/python
#GUID="{{ lookup('env', 'GUID') }}"

